
<!-- <nav class ="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class ="navbar-nav">
        <li class ="nav-item"></li>
        <a routerLink ="doctors"class ="nav-link"> Doctor-List

        </a>

        <li class ="nav-item"></li>
        <a routerLink ="create-doctors"  class ="nav-link"> Add-Doctors

        </a>

    </ul>

</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="doctors">Doctor List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="create-doctors">Add Doctors</a>
            </li>
        </ul>
    </div>
</nav>






<h1 class ="text-center">Doctor Appointment and Booking</h1>
<div class ="container">
<!-- <app-doctor-list></app-doctor-list> -->
<router-outlet></router-outlet>
</div>



<footer class="footer">
    <div class="container">
       <span>All rights reserved</span>
    </div>
</footer>